.button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
  line-height: 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}

.button:focus-visible {
  outline: none;
}

.button:hover {
  opacity: 0.6;
}
