.header__login {
  margin: 0;
  padding: 0;
  padding-right: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
  color: #fff;
}

@media screen and (max-width: 950px) {
  .header__login {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 0;
  }
}
